<!-- Form Layout -->
<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-32">Cita para vacunación</h4>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Hijo </mat-label>
        <mat-select>
          <mat-option *ngFor="let hijo of hijos" [value]="hijo.value">
            {{hijo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      

      <mat-form-field appearance="fill">
        <mat-label>Vacuna</mat-label>
        <mat-select>
          <mat-option *ngFor="let vacuna of vacunas" [value]="vacuna.value">
            {{vacuna.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>


        <mat-calendar [(selected)]="selectedDate"></mat-calendar>

    </form>
  </mat-card-content>
  <mat-card-actions style="display: flex; justify-content: center;">
      <button mat-flat-button color="primary" (click)="onBack()">Crear Cita</button>
      <button mat-flat-button color="accent" (click)="onBack()" >Cancelar</button>
  </mat-card-actions>
  
</mat-card>

