.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.register-card {
  width: 900px;
  padding: 20px;
}

mat-card-title {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

mat-card-actions {
  display: flex;
  justify-content: center; /* Centra los botones */
  gap: 15px; /* Añade un espacio entre los botones */
}
mat-form-field {
  mat-icon {
    margin-right: 8px; /* Espacio entre el ícono y el campo de entrada */
    width: 100%; /* Asegura que los campos llenen todo el ancho del contenedor */
  }
}

button mat-icon {
  margin-right: 5px; /* Espacio entre el ícono y el texto del botón */
  
}
.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px; /* Espacio entre los botones */

}.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la pantalla para centrar verticalmente */
  
}


