<!-- Registro de tipos de uvas -->
<div class="card styled-card">
  <div class="card-header styled-card-header">
    <h4 class="styled-title">{{ isEditing ? 'Editar Tipo de Uva' : 'Registrar Tipo de Uva' }}</h4>
  </div>

  <div class="card-body styled-card-body">
    <form [formGroup]="tipoUvaForm" (ngSubmit)="guardarUva()">

      <!-- Nombre de la Uva -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Nombre de la Uva</mat-label>
        <mat-icon matPrefix>hive</mat-icon> <!-- Icono para el nombre -->
        <input matInput formControlName="nombre">
        <mat-error *ngIf="tipoUvaForm.get('nombre')?.invalid && tipoUvaForm.get('nombre')?.touched">
          El nombre de la uva es Obligatorio.
        </mat-error>
      </mat-form-field>

      <!-- Sabor de la Uva -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Sabor de la Uva</mat-label>
        <mat-icon matPrefix>emoji_food_beverage</mat-icon> <!-- Icono para el sabor -->
        <input matInput formControlName="sabor">
        <mat-error *ngIf="tipoUvaForm.get('sabor')?.invalid && tipoUvaForm.get('sabor')?.touched">
          El sabor de la uva es Obligatorio.
        </mat-error>
      </mat-form-field>

      <!-- Uso de la Uva -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Uso de la Uva</mat-label>
        <mat-icon matPrefix>liquor</mat-icon> <!-- Icono para el uso -->
        <input matInput formControlName="uso">
        <mat-error *ngIf="tipoUvaForm.get('uso')?.invalid && tipoUvaForm.get('uso')?.touched">
          El uso de la uva es Obligatorio.
        </mat-error>
      </mat-form-field>

      <!-- Botones para guardar o cancelar -->
      <div class="button-group">
        <button mat-flat-button color="primary" type="submit" [disabled]="tipoUvaForm.invalid">
          <mat-icon>save</mat-icon> {{ isEditing ? 'Guardar Cambios' : 'Registrar Uva' }}
        </button>
        <button mat-flat-button color="warn" type="button" (click)="cancelar()">
          <mat-icon>cancel</mat-icon> Cancelar
        </button>
      </div>

    </form>
  </div>
</div>
