<!-- Registro de Parcela -->
<div class="card styled-card">
  <div class="card-header styled-card-header">
    <h4 class="styled-title">Registrar Parcela</h4>
  </div>
  <div class="card-body styled-card-body">
    <form (ngSubmit)="registrarParcela()" #parcelaForm="ngForm">

      <!-- Nombre de la Parcela -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Nombre de la Parcela</mat-label>
        <mat-icon matPrefix>location_city</mat-icon>
        <input matInput [(ngModel)]="parcela.nombre" name="nombre" required>
        <mat-error *ngIf="parcelaForm.form.controls['nombre']?.invalid && parcelaForm.form.controls['nombre']?.touched">
          Nombre es obligatorio.
        </mat-error>
      </mat-form-field>

      <!-- Tamaño de la Parcela -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Tamaño (en hectáreas)</mat-label>
        <mat-icon matPrefix>landscape</mat-icon>
        <input matInput [(ngModel)]="parcela.tamano" name="tamano" type="number" required>
        <mat-error *ngIf="parcelaForm.form.controls['tamano']?.invalid && parcelaForm.form.controls['tamano']?.touched">
          Tamaño es obligatorio.
        </mat-error>
      </mat-form-field>

      <!-- Ubicación de la Parcela -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Ubicación</mat-label>
        <mat-icon matPrefix>map</mat-icon>
        <input matInput [(ngModel)]="parcela.ubicacion" name="ubicacion" required>
        <mat-error *ngIf="parcelaForm.form.controls['ubicacion']?.invalid && parcelaForm.form.controls['ubicacion']?.touched">
          Ubicación es obligatoria.
        </mat-error>
      </mat-form-field>

      <!-- Tipo de Suelo -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Tipo de Suelo</mat-label>
        <mat-icon matPrefix>nature</mat-icon>
        <input matInput [(ngModel)]="parcela.tipoSuelo" name="tipoSuelo" required>
        <mat-error *ngIf="parcelaForm.form.controls['tipoSuelo']?.invalid && parcelaForm.form.controls['tipoSuelo']?.touched">
          Tipo de Suelo es obligatorio.
        </mat-error>
      </mat-form-field>

      <!-- Botones para enviar o limpiar el formulario -->
      <div class="button-group">
        <button mat-flat-button color="primary" type="submit" [disabled]="parcelaForm.form.invalid">
          <mat-icon>save</mat-icon> Registrar Parcela
        </button>
        <button mat-flat-button color="warn" type="button" (click)="limpiarFormulario()">
          <mat-icon>cancel</mat-icon> Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
