@import '~@angular/material/prebuilt-themes/indigo-pink.css';

form-row {
  display: flex;
  gap: 16px; 
}

.form-field {
  flex: 1; 
  min-width: 0; 
}

.styled-card {
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px; /* Bordes redondeados */
  max-width: 700px; /* Ancho máximo para el card */
  margin: 20px auto; /* Centrando el card con margen automático */
  padding: 20px; /* Relleno interno */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones para hover */
}

/* Efecto hover para el card */
.styled-card:hover {
  transform: translateY(-5px); /* Efecto de levitación en hover */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa en hover */
}

/* Estilo del header */
.styled-card-header {
  background-color: #22c1d6; /* Fondo azul suave */
  color: white; /* Texto blanco */
  padding: 10px;
  text-align: center; /* Centrado del título */
  border-radius: 10px 10px 0 0; /* Bordes superiores redondeados */
}

/* Estilo del contenido del card */
.styled-card-body {
  padding: 20px;
}

.styled-title {
  color: #123a86; /* Color base */
  font-weight: 800; /* Negrita */
  font-size: 20px; /* Tamaño del texto */
  text-align: center; /* Centrar el título */
  text-transform: uppercase; /* Texto en mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
}

/* Estilos de los campos de formulario */
.mat-form-field {
  width: 100%; /* Campos del formulario ocupan el ancho completo */
  margin-bottom: 20px; /* Espacio entre los campos */
}

/* Grupo de botones */
.button-group {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
  gap: 16px; /* Espacio entre los botones */
  margin-top: 20px; /* Separación con los campos anteriores */
}

/* Estilo de los botones */
button[mat-flat-button] {
  padding: 10px 20px;
  border-radius: 5px; /* Bordes redondeados para los botones */
}

/* Color personalizado para el botón guardar */
button[mat-flat-button][color="primary"] {
  background-color: #22c1d6;
  color: white;
}

button[mat-flat-button][color="primary"]:hover {
  background-color: #45a049; /* Color más oscuro en hover */
}

/* Estilo para el botón cancelar */
button[mat-flat-button][color="warn"] {
  background-color: #f44336;
  color: white;
}

button[mat-flat-button][color="warn"]:hover {
  background-color: #d32f2f; /* Color más oscuro en hover */
}

.mat-error {
  color: red; /* Cambia el color del mensaje de error */
  font-size: 12px; /* Ajusta el tamaño de la fuente */
}

/* Estilo para los mensajes de éxito */
.success-snackbar {
  background-color: #4caf50; /* Color verde para éxito */
  color: white;
}

/* Estilo para el mensaje de éxito */
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #12cc15;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.alert-success mat-icon {
  margin-right: 8px;
}
