<div class="table-container">
  <h2>LISTADO DE PRODUCCIONES</h2>

  <table mat-table [dataSource]="producciones" class="mat-elevation-z8">
    
    <ng-container matColumnDef="parcela">
      <th mat-header-cell *matHeaderCellDef> PARCELA </th>
      <td mat-cell *matCellDef="let produccion"> {{ produccion.parcela }} </td>
    </ng-container>

    <ng-container matColumnDef="tipoUva">
      <th mat-header-cell *matHeaderCellDef> TIPO DE UVA </th>
      <td mat-cell *matCellDef="let produccion"> {{ produccion.tipoUva }} </td>
    </ng-container>

    <ng-container matColumnDef="cantidadEsperada">
      <th mat-header-cell *matHeaderCellDef> CANTIDAD ESPERADA </th>
      <td mat-cell *matCellDef="let produccion"> {{ produccion.cantidadEsperada }} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> ESTADO </th>
      <td mat-cell *matCellDef="let produccion"> {{ produccion.estado }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
      <td mat-cell *matCellDef="let produccion">
        <!-- Verifica si el usuario tiene rol de admin o supervisor para habilitar acciones -->
        <button mat-button color="primary" *ngIf="userRole === 'admin' || userRole === 'supervisor'" 
                (click)="editarProduccion(produccion.id)">
          <mat-icon>edit</mat-icon>
        </button>
        
        <button mat-icon-button color="warn" *ngIf="userRole === 'admin'" 
                (click)="deleteProduccion(produccion.id)">
          <mat-icon>delete</mat-icon> <!-- Icono de eliminar -->
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['parcela', 'tipoUva', 'cantidadEsperada', 'estado', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['parcela', 'tipoUva', 'cantidadEsperada', 'estado', 'actions'];"></tr>
  </table>
</div>

<!-- Botón para agregar nueva producción -->
<app-float-button icon="add_circle" position="bottom-right" 
                   *ngIf="userRole === 'admin' || userRole === 'supervisor'" 
                   (action)="handleAddClick();">
</app-float-button>
