<mat-sidenav-container class="sidenav-container">

  <!-- Sidebar -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <div class="p-16">
      <div class="mb-16">
        <a href="javascript:void(0)" class="d-flex align-items-center">
          <img src="assets/images/vinos-Costero.png" alt=""> <span class="ms-16 fw-medium fs-26">Vino Costero</span>
        </a>

      </div>

      <div class="pt-8">
        <ul>
          <li class="list-group mb-8" *ngFor="let sidenav of sidebarMenu">
            <a matRipple [matRippleColor]="'#f7f8f443'" routerLink="{{ sidenav.link }}"
              class="sidebar-menu fs-16 w-100 d-flex align-items-center" [routerLinkActive]="routerActive">
              <i-feather name="{{ sidenav.icon }}" class="feather-base me-16"></i-feather> <span
                class="ps-4">{{ sidenav.menu }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="m-8 pt-4">
        <div class="buy-flexy ps-24 pe-24 mt-48 mb-48">
          <div class="text-center">
            <div class="pt-24 pb-24 mt-8">
              <ul>
                <li>
                  <a href="javascript:void(0)" mat-flat-button color="accent" class="w-100 fw-light fs-14">Cerrar Sesión</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Content -->
    <div class="body-wrapper ">
      <div class="page-wrapper h-100">
        <router-outlet></router-outlet>
      </div>
    </div>

    <p class="text-center pb-24 fs-16">© 2024  vino costero</p>

  </mat-sidenav-content>

</mat-sidenav-container>

