form-row {
  display: flex;
  gap: 16px; 
}

.form-field {
  flex: 1; 
  min-width: 0; 
}
.styled-card {
  max-width: 800px; /* Tamaño reducido */
  margin: 0 auto; /* Centrar la tarjeta */
  border-radius: 6px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  background-color: #f9f9f9;
  padding: 24px;
}

/* Estilo para el header del card */
.styled-card-header {
  background: linear-gradient(45deg, #9ee7ec, #9ee7ec);
  padding: 6px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.styled-title {
  color: #123a86; /* Color base */
  font-weight: 800; /* Negrita */
  font-size: 20px; /* Tamaño del texto */
  text-align: center; /* Centrar el título */
  text-transform: uppercase; /* Texto en mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
}

/* Estilo de la tarjeta interna */
.styled-card-body {
  padding: 24px;
  background-color: #f8f8f6;
  border-radius: 0 0 16px 16px;
}

/* Estilo de los mat-icons según su función */
.mat-form-field .icon-nutrientes {
  color: #4caf50; /* Verde */
}

.mat-form-field .icon-ph {
  color: #2196f3; /* Azul */
}

.mat-form-field .icon-tratamientos {
  color: #ff9800; /* Naranja */
}

.mat-form-field .icon-fecha {
  color: #f44336; /* Rojo */
}

/* Estilo de los campos del formulario */
.mat-form-field {
  margin-bottom: 24px;
  color: #666;
}

/* Estilo de los botones */
.button-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;

}

button {
  font-weight: bold;
  padding: 12px 24px;
  transition: background-color 0.3s ease;
}

button:hover {
  filter: brightness(1.1);
}

/* Colores de los botones */
button[color="primary"] {
  background-color: #11a4d1; /* Azul oscuro */
  color: white;
  
}

button[color="warn"] {
  background-color: #f44336; /* Rojo */
  color: white;
}