<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Registro de Control de Tierra</h4>
    <form>
      <!-- Selector de Parcela con Icono -->
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Parcela</mat-label>
        <mat-icon matPrefix>landslide</mat-icon> <!-- Icono  -->
        <mat-select>
          <mat-option *ngFor="let parcela of parcelas" [value]="parcela">{{ parcela }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Selector de Tipo de Uva con Icono -->
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Tipo de Uva</mat-label>
        <mat-icon matPrefix>hive</mat-icon> <!-- Icono de uvas -->
        <mat-select>
          <mat-option *ngFor="let tipoUva of tiposUva" [value]="tipoUva">{{ tipoUva }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Niveles de Nutrientes con Icono -->
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Niveles de Nutrientes (N, P, K)</mat-label>
        <mat-icon matPrefix>insert_chart</mat-icon> <!-- Icono de niveles -->
        <input matInput type="text" placeholder="Ej: N: 20, P: 15, K: 10">
      </mat-form-field>

      <!-- PH del Suelo con Icono -->
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>PH del Suelo</mat-label>
        <mat-icon matPrefix>water_drop</mat-icon> <!-- Icono de gota de agua -->
        <input matInput type="number" placeholder="Ej: 6.5">
      </mat-form-field>

      <!-- Tratamientos Aplicados con Icono -->
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Tratamientos Aplicados</mat-label>
        <mat-icon matPrefix>spa</mat-icon> <!-- Icono de tratamiento -->
        <textarea matInput rows="3" placeholder="Ej: Fertilizante A, Pesticida B"></textarea>
      </mat-form-field>

      <!-- Fecha de Control con Icono -->
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Fecha de Control</mat-label>
        <mat-icon matPrefix>calendar_today</mat-icon> <!-- Icono de calendario -->
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Botones -->
      <div style="display: flex; justify-content: center; gap: 16px;">
        <button mat-flat-button color="primary" type="submit">
          <mat-icon>save</mat-icon> <!-- Icono de guardar -->
          Crear Registro
        </button>
        <button mat-flat-button color="accent" type="button">
          <mat-icon>cancel</mat-icon> <!-- Icono de cancelar -->
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>