<!-- src/app/views/siembra-parcela/siembra-parcela-list/siembra-parcela-list.component.html -->
<div class="card styled-card">
  <div class="card-header styled-card-header">
    <h2 class="styled-title" style="text-align: center;">Lista de Siembras de Parcelas</h2>
    <button mat-flat-button color="primary" (click)="handleAddClick()" style="margin-left: auto;">
      Añadir Siembra
    </button>
  </div>
  <div class="card-body styled-card-body">
    <table mat-table [dataSource]="siembras" class="mat-elevation-z8">

      <!-- Columnas -->
      <ng-container matColumnDef="parcela">
        <th mat-header-cell *matHeaderCellDef> Parcela </th>
        <td mat-cell *matCellDef="let siembra">{{ siembra.parcela }}</td>
      </ng-container>

      <ng-container matColumnDef="variedadUva">
        <th mat-header-cell *matHeaderCellDef> Variedad de Uva </th>
        <td mat-cell *matCellDef="let siembra">{{ siembra.variedadUva }}</td>
      </ng-container>

      <ng-container matColumnDef="fechaSiembra">
        <th mat-header-cell *matHeaderCellDef> Fecha de Siembra </th>
        <td mat-cell *matCellDef="let siembra">{{ siembra.fechaSiembra | date }}</td>
      </ng-container>

      <ng-container matColumnDef="cantidadSembrada">
        <th mat-header-cell *matHeaderCellDef> Cantidad Sembrada </th>
        <td mat-cell *matCellDef="let siembra">{{ siembra.cantidadSembrada }}</td>
      </ng-container>

      <ng-container matColumnDef="estadoSiembra">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let siembra">{{ siembra.estadoSiembra }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let siembra">
          <button mat-button (click)="handleEditClick(siembra.id)">Editar</button>
          <button mat-button (click)="eliminarSiembra(siembra.id)">Eliminar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['parcela', 'variedadUva', 'fechaSiembra', 'cantidadSembrada', 'estadoSiembra', 'acciones']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['parcela', 'variedadUva', 'fechaSiembra', 'cantidadSembrada', 'estadoSiembra', 'acciones'];"></tr>
    </table>
  </div>
</div>

<!-- Botón flotante -->
<app-float-button icon="add_circle" position="bottom-right" (action)="handleAddClick();">
</app-float-button>
