.table-container {
  padding: 16px; // Espacio alrededor de la tabla
  background-color: #e2eef0; // Fondo gris claro
  border-radius: 8px; // Bordes redondeados
  box-shadow: 0 2px 10px rgba(205, 28, 28, 0.1); // Sombra suave
  display: flex;
  flex-direction: column;
  align-items: center; // Centra horizontalmente
  margin: 50px; // Margen alrededor del contenedor
  gap: 12px; /* Espacio entre los elementos */
  flex-wrap: wrap;
}
.mat-header-cell {
  font-weight: bold; /* Aplica negrita solo a las celdas de encabezado */
  background-color: #22b5dd; // Color de fondo azul para los encabezados
  color: white; // Color de texto blanco
  font-size: 16px; // Tamaño de fuente del encabezado
  padding: 12px; // Espaciado interno para las celdas del encabezado
  text-align: center; // Centrar el texto
}

.filter-item {
  width: 250px; /* Puedes ajustar el tamaño según lo necesites */
  gap: 15px; /* Espacio entre los elementos */
  flex-wrap: wrap;
}

.table-title {
  margin-bottom: 20px; // Espacio entre el título y la tabla
  font-size: 24px; // Tamaño de fuente del título
  font-weight:bolder; // Negrita para el título
  color: #3f51b5; // Cambia a un color que prefieras
}

.cell {
  padding: 16px; // Espaciado interno
}
.mat-table {
  width: 900%; // Ancho completo de la tabla
  border-collapse: collapse; // Quitar espacios entre celdas
}
/* Clase personalizada para los encabezados de la tabla */
.custom-header {
  background-color: #09b0bc; /* Color de fondo azul */
  color: #070606; /* Color del texto blanco */
  font-weight: bold;
  text-transform: uppercase; /* Texto en mayúsculas */
  font-weight: 900; /* Negrita */
}
.filter-container {
  display: flex;
  justify-content: space-between; /* Espacia los elementos a los extremos */
  margin-bottom: 20px; /* Espacio debajo del contenedor de filtros */
}

.filter-field {
  margin-right: 20px; /* Espacio entre los campos de filtro */
  flex: 1; /* Permite que cada campo se expanda uniformemente */
}


.action-button {
  padding: 0; /* Elimina el padding del botón para acercar los íconos */
  margin-right: 2px; /* Espaciado entre los botones */
}

.mat-icon {
  font-size: 20px; /* Tamaño de los íconos */
}

.delete-icon {
  color: rgb(245, 25, 25); /* Color rojo para el ícono de eliminar */
}

.edit-icon {
  color: rgb(0, 234, 255); /* Color azul para el ícono de editar */
}