@import '../../../assets/styles/style.scss';

$custom-toggle-color: $info; /* Color personalizado */


::ng-deep .custom-slide-toggle {
  --mdc-switch-selected-icon-color:  $info ; 
  --mdc-switch-selected-track-color:  $info ; 
  --mdc-switch-selected-handle-color:  $info ;
  --mdc-switch-unselected-track-color: #e0e0e0;
  --mdc-switch-unselected-handle-color: #616161;
}

::ng-deep .custom-slide-toggle .mdc-switch__icon {
  color:  $info !important;
}

::ng-deep .custom-slide-toggle .mdc-switch--selected .mdc-switch__track {
  background-color:  $info !important;
}

::ng-deep .custom-slide-toggle .mdc-switch--selected .mdc-switch__thumb {
  background-color:  $info !important;
}

::ng-deep .custom-slide-toggle .mdc-switch__track {
  background-color: #ccc !important;
}

::ng-deep .custom-slide-toggle .mdc-switch__label {
  color: #555;
}